.container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  width: 100%;
  border-radius: var(--border-radius);

  transition: color 0.1s ease-in-out, background 0.25s ease-in-out;

  svg {
    fill: var(--color-accent);
    margin: 0 1rem;
  }

  input[type='search'] {
    font-size: 1rem;
    padding: 1rem;

    border: none;
    outline: none;
    border-radius: var(--border-radius);

    &::-webkit-input-placeholder {
      user-select: none;
      transition: color 0.1s ease-in-out;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: var(--color-primary);

      &::-webkit-input-placeholder {
        color: var(--color-primary);
      }
    }
  }
}
