.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  // background: var(--color-secondary);

  // border: 2px solid var(--color-border);
  // border-radius: 0.5rem 0.5rem 0 0;

  transition: color 0.1s ease-in-out, background 0.25s ease-in-out;

  svg {
    fill: var(--color-accent);
    margin: 0 1rem;
  }

  input[type='search'] {
    font-size: 1rem;

    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: var(--border-radius);

    &::placeholder {
      padding: 0 1rem;
    }

    &::-webkit-input-placeholder {
      user-select: none;
      transition: color 0.1s ease-in-out;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: var(--color-primary);

      &::-webkit-input-placeholder {
        color: var(--color-primary);
      }
    }
  }
}
